Workflows/Caso 3_Agente-clasificacion-malware.json
{
  "name": "Caso 3/Agente-clasificacion-malware",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -96
      ],
      "id": "9a4efc96-f25e-4738-88fc-c0646eb96dcc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const fragmentos = [\n  {\n    texto: \"El ransomware Ryuk se caracteriza por usar scripts de PowerShell ofuscados     y suele propagarse aprovechando servicios RDP expuestos hacia internet. Se enfoca      en entornos corporativos, compromete servidores críticos y ejecuta cifrado de          archivos en unidades locales y de red para maximizar el impacto.\",\n    caso_uso: \"analisis_malware\",\n  },\n  {\n    texto: \"El troyano Emotet se propaga principalmente mediante correos electrónicos      con documentos de Office que contienen macros maliciosas. Es conocido por su           persistencia, por descargar cargas útiles secundarias y por servir como puerta de      entrada para otras familias de malware, incluyendo ransomware dirigido a redes         corporativas.\",\n    caso_uso: \"analisis_malware\",\n  },\n  {\n    texto: \"La familia de malware TrickBot comenzó como un troyano bancario y              evolucionó a una plataforma modular. Permite robo de credenciales, reconocimiento      de red, movimiento lateral y despliegue de ransomware. Emplea técnicas de              ofuscación y comunicación con infraestructura de comando y control resiliente.\",\n    caso_uso: \"analisis_malware\",\n  },\n  {\n    texto: \"Muchas variantes de ransomware modernas deshabilitan soluciones de             seguridad, borran copias de sombra, cifran archivos en servidores críticos y           exigen pago en criptomonedas. Algunas familias además exfiltran datos antes del        cifrado para aplicar extorsión doble, amenazando con publicar información              sensible.\",\n    caso_uso: \"analisis_malware\",\n  },\n  {\n    texto: \"Los troyanos de acceso remoto (RAT) suelen instalarse mediante adjuntos        maliciosos o exploits en el navegador. Permiten a un atacante controlar el sistema     de la víctima, registrar pulsaciones de teclado, capturar pantalla y descargar más     malware en segundo plano, manteniendo persistencia en el equipo comprometido.\",\n    caso_uso: \"analisis_malware\",\n  },\n  {\n    texto: \"Las familias de malware orientadas a persistencia suelen modificar claves      de registro de inicio automático, crear tareas programadas o servicios, y esconder     sus binarios en rutas del sistema poco visibles. Estas técnicas dificultan la          erradicación completa del malware tras un primer análisis superficial.\",\n    caso_uso: \"analisis_malware\",\n  },\n  {\n    texto: \"Algunos malware avanzados utilizan herramientas legitimas del sistema como     PowerShell, PsExec o WMI para moverse lateralmente entre hosts. De esta forma          evitan levantar sospechas, reutilizan credenciales robadas y pueden llegar a           controladores de dominio o servidores de bases de datos críticos.\",\n    caso_uso: \"analisis_malware\",\n  },\n];\n\n// n8n espera un array de items con propiedad json\nreturn fragmentos.map(f => ({ json: f }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -96
      ],
      "id": "cd692ee5-2c05-406f-a027-e70785675735",
      "name": "Fragmentos malware"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vectore_store_malware",
          "mode": "list",
          "cachedResultName": "vectore_store_malware"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -64,
        -96
      ],
      "id": "d595876d-1169-4f0b-b137-3a5fb00f4e37",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "model": "mistral:7b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -160,
        192
      ],
      "id": "579b45ed-331a-4d46-bb3d-51c7d5781360",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "TYKsErtw0DbV3rPR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.texto }}\n{{ $json.caso_uso }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        112
      ],
      "id": "ebc64546-e2ff-4178-9c4c-fd4f2da6dc57",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fragmentos malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fragmentos malware": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7052440-d6ae-4ed0-b62a-70c8f6bcd9fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ab2eedd701691bc9deb393150d0f34cdb4a895536b6bb6297c19755623506a6"
  },
  "id": "wpvLndxumjTl8P3n",
  "tags": []
}